.storyCards {
    /* border: 1px solid; */
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;

}

.storyCard {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* _____________________________________________ STORY CARD HEADER ____________________________________________ */

.storyCard__header {
    height: 24%;
    display: flex;
    align-items: flex-end;
    padding: 2%;
}

.storyCard__header > a > h2 {
    font-size: 1.2rem;
}
/* _____________________________________________ STORY CARD IMG ____________________________________________ */

.storyCard__imgWrapper {
    width: 100%;
}
.storyCard__imgWrapper > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
/* _____________________________________________ STORY CARD INFO ____________________________________________ */


.storyCard__Info {
    height: 80px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.storyCard__InfoAuthor {
  display: flex;
  align-items: center;
}
.storyCard__InfoAuthor > div > p {
    margin: 5px 1rem;
  }


.storyCard__InfoAuthor > img {
    border: 2px solid;
    max-width: 50px;
    object-fit: cover;
    box-shadow: rgb(194 202 214) 0px 0.2em, rgb(194 202 214) 0px -0.2em, rgb(194 202 214) 0.2em 0px, rgb(194 202 214) -0.2em 0px;
}

.storyCard__InfoStory {
    text-align: end;
    font-size: 0.8rem;
}